body {
    background: rgba(0,0,0,.4);
      background-image: linear-gradient(103.24deg,rgba(0,8,29,0.9) 23.83%,rgba(0,8,29,0.3) 96.1%), url('https://assets.nflxext.com/ffe/siteui/vlv3/5aecc44d-2a1f-4313-8399-98df20908b64/fe0d3631-4584-47e4-9cd7-ed68ba375830/NG-en-20221114-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      direction: ltr;
      min-height: 43.75rem;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .container-feature {
    background-image: url("https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .navbar {
    width: 95%;
    color: white;
    font-size: 14px;
    position: fixed;
    top: 0;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
  }
  .navbar.scrolled {
    background-color: var(--main-color);
  }

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    /* width: 94%; */
}

.left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.left .net-img {
    height: 25px;
    margin-right: 40px;
}

.left a {
    margin-right: 20px;
}

.right {
    display: flex;
    align-items: center;
}

.right .icon {
    color: whitesmoke;
    cursor: pointer;
    margin: 0px 5px;
}

.right img {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
}

.search-field {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 6px;
    margin-right: 10px;
}

.search-field input {
    width: 72px;
    height: 7px;
    border: none;
}

.rated {
    align-items: center;
    bottom: 35%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    z-index: 10;
    color: white;
}

.rated-span {
    align-items: center;
    background-color: rgba(51,51,51,.6);
    border: 3px #dcdcdc;
    border-left-style: solid;
    box-sizing: border-box;
    display: flex;
    font-size: 1.1vw;
    font-weight: 500;
    height: 2.4vw;
    padding: 0.5vw 3.5vw 0.5vw 0.8vw;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}


.top {
    text-align: left;
    margin-top: 175px;
}

.series {
    color: white;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 0;
}

.title {
    max-width: 40%;
    font-size: 80px;
    letter-spacing: 0!important;
    line-height: 63px;
    margin-top: 0;
}

.description {
    margin: 20px 0px;
    font-size: 1.2vw;
    font-weight: 400;
    max-width: 40%;
    line-height: normal;
    text-shadow: 2px 2px 4px rgba(0,0,0,.45);
}

.buttons {
    display: flex;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
    cursor: pointer;
}

.buttons .play {
    background-color: white;
}

.buttons .more {
    background-color: #737373;
    margin-right: 0;
}

.more-span {
    margin-left: 8px;
}

/*************** card lists ***********/

.popular {
    box-sizing: border-box;
    margin: 3vw 0;
    padding: 0;
    outline: 0;
    position: relative;
}

 .popular-h2 {
    color: white;
    font-size: 17px;
    font-weight: 600;
    margin-top: 80px;
}

.popular .row-container {
    transition: transform .54s cubic-bezier(.5,0,.1,1) 0s;
}

.row-container {
    position: relative;
    z-index: 0;
}

.row-container .row-content {
    box-sizing: border-box;
    padding: 0;
}

.row-container .row-content .slider {
    z-index: 2;
}

.slider {
    margin: 0;
    position: relative;
    touch-action: pan-y;
    text-align: start;
    display: flex;

}

/******************* card ******************/

.movie-cards {
    display: flex;
}

.card {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 0.2vw;
    position: relative;
    vertical-align: top;
    white-space: normal;
    z-index: 1;
}

.card img {
    width: 273px;
    height: 219px;
    margin-bottom: -5px;
}

.card-details {
    background-color: #141414;
    padding: 12px;
    color: #dcdcdc;
}

.card-icons {
    display: flex;
    justify-content: space-between;
}

.card-icons .icon-child {
    font-size: 2.5rem;
    color: white;
}


.card-info {
    color: white;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    font-weight: 600;
}

.card-info a {
    margin: 3px;
}

.card-info .match {
    color: rgb(49, 209, 49);
    cursor: pointer;
    font-weight: 600;
}

.card-info .card-rated {
    border: 1px solid white;
    padding: 0 2px;
    width: 35px;
    padding-top: 6px;
    height: 12px;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}

.card-desc {
    display: flex;
    margin-top: 15px;
}

.record-icon {
    color: #646464;
    display: inline-block;
    padding-right: 0.5vw;
    padding-left: 0.5vw;
    text-align: center;
    width: 10px !important;
}

